<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="columns" id="left">
    <div id="logo">
      <%= link_to image_tag("my_name.png", :alt=>"Sean Lowen", :id=>"name"), about_me_path %>
      <%= link_to image_tag("whatido.png", alt: "JFDI", id: "jfdi"), philosophies_path %>
    </div>
    <%= yield :left %>
  </div>
  <div class="columns" id="right">
    <div id="navigation">
      <div id="pagename">
        <%= yield :head %>
      </div>
      <ul id="navitems">    
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Projects",    projects_path %>
          <ul>
            <li><%= link_to "Robotic Bartender", barbot_path %></li>
            <li><%= link_to "Underactuated Hand", underactuation_path %></li>
            <li><%= link_to "Planet Labs", planet_labs_path %></li>
            <li><%= link_to "Hijack Power", hijack_path %></li>
            <li><%= link_to "Mechanical Gibbon", gibbon_path %></li>
            <li><%= link_to "Aerobatic Pilots", uocd_path %></li>
            <li><%= link_to "Coffee Can Radar", radar_path %></li>
          </ul>
        </li>
        <li><%= link_to "About", about_me_path %></li>
      </ul>
    </div>
      <%= yield %>
    </div>
    <div id="test">Bottom of page?</div>
  <div id="footer">This is my footer.</div>
</body>
</html>
