<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="colmask">
    <div id="columns">
      <div id="left">
        <div id="info">
          <%= link_to image_tag("my_name.png", :alt=>"Sean Lowen", :id=>"name", :class=> "infoimg"), about_me_path %>
          <%= link_to image_tag("whatido.png", alt: "Robotics, Mechatronics, Entrepreneurship", id: "slogan", :class=> "infoimg"), philosophies_path %>
        </div>
        <div id="left-text">
        </div>
      </div>
      <div id="right">
        <div id="menu">
          <div id="pagetitle">
            <%= yield :head %>
          </div>
          <div id="navigation">
            <ul id="navitems">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Projects",    projects_path %>
                <ul>
                  <li><%= link_to "Robotic Bartender", barbot_path %></li>
                  <li><%= link_to "Underactuated Hand", underactuation_path %></li>
                  <li><%= link_to "Planet Labs", planet_labs_path %></li>
                  <li><%= link_to "Hijack Power", hijack_path %></li>
                  <li><%= link_to "Mechanical Gibbon", gibbon_path %></li>
                  <li><%= link_to "Aerobatic Pilots", uocd_path %></li>
                  <li><%= link_to "Coffee Can Radar", radar_path %></li>
                </ul>
              </li>
              <li><%= link_to "About", about_me_path %></li>
            </ul>
          </div>
        </div>
        <div id="main-content">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>